{% extends "layout.html" %}
    {% block title %}Group Members{% endblock %}

    {% block extra_css %}
      <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    {% endblock %}

    {% block content %}

      <table style="width:100%">
        <tr>          
            <td><a href="#" class="btn  btn-block">Back</a></td> 
            <td><h2 class="card-title">Todays date 12 June 2019</h2></td>
          </tr>

        
        <tr>          
            <td colspan="2"> <a href="/groupDetails/{{ group_id }}" input class="btn btn-block" style="width: 100%" >{{ group_name }}</a></td>
          </tr>

        <tr>
            <td><h2 class="card-title">Last updated 3 mins ago</h2></td>
            <td>
              <table style="width:100%">
                <td><a href="#" class="btn  btn-block">Submit</a></td>
                <td><input type="checkbox" name="All" style="width: 30px; height: 30px; float: right">All/None<br></td>

              </table>
            </th>
        </tr>
      </table>

         
        
        <br>
        <div style="width:100%;  overflow:auto;">
  
            {% for member_id, member_name, f_att, g_att, img_url in members %}
                <div class="card mb-1 card-horizontal" style="width: 100%;">
                  <div class="row no-gutters">
                    <div class="col-md-2">
                      <img class="w-100" src="{{ img_url }}"  class="card-img" alt="...">
                    </div>

                    <div class="col-md-9">
                      <div class="card-body">
                        <h1 class="card-text">{{ member_id }}</h5>
                        <a href="/memberDetails/{{ member_id }}" class="btn btn-block" style="font-size: larger; width: 100%">{{ member_name  }}</a> 
                      </div>
                    </div>
                    <div class="col-md-1">
                      <p class="card-body">
                        <br>
                        <br>
                        <input type="checkbox"  style="width: 30px; height: 30px;"></td>
                      </p>

                    </div>
                  </div>

                </div>
                <br>

            {% endfor %}
            <!--</form>-->
        </div>
    {% endblock %}
